body {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg,#ff5b00 50%, #50505059 50%);

}


/* main element */
.search-box {
  z-index: 1;
  top:30%;
  left: 26%;
  position:absolute;
  transform:translate(10%, 20%);
  /* background:#2f3640; */
  border-radius:10px;
  height:60px;
  padding:0px;
  box-shadow:0px 0px 10px 0px rbg(0,0,0,0.2);
}

.search-btn {
  border:none;
  background:crimson;
  border-radius:10px;
  float:right;
  display:flex;
  width:120px;
  height:60px;
  justify-content:center;
  align-items:center;
  outline:none;
  transition:0.6s;
  font-weight:bold;
  color:#FFFFFF;
  box-shadow:0px 0px 10px 0px crimson;
}

.search-txt {
  text-align:center;
  background:none;
  border:none;
  outline:none;
  float:left;
  padding:0px;
  font-size:16px;
  transition:0.6s;
  color:crimson;
  font-weight:bold;
  line-height:30px;
  width:400px;
  margin-left: 0px;
}

/* main element end */

.animation-wrapper {
  width: 50%;
  padding-bottom: 46.2%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 2px;
  stroke: rgba(80,80,80,.35);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

nav{
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 8vh;
  height: 10vh;
  /* background-color: black; */
  font-family: 'Noto Sans JP', sans-serif;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}

.SignIn{
  cursor: pointer;
  color: #ff5b00;
  border-radius: 16px;
  padding: 5px 10px;
  line-height: 1;
  background-color: rgba(80,80,80,1);
}
.SignUp{
  cursor: pointer;
  border-radius: 16px;
  padding: 5px 10px;
  line-height: 1;
  background-color: #ff5b00;
}

.SignIn:hover,.SignUp:hover{
  transform: scale(1.2);
}

.SignIn:active,.SignUp:active{
  transform: scale(1);
}

.nav-links{
  z-index: 1;
  display: flex;
  justify-content: space-around;
  width: 30em;
}
#svglogo{
  z-index: 1;
  width: 100%;
  height: 200px;
}
.nav-links li{
  list-style: none;
}
.nav-links button{
  cursor: pointer;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: large;
}
section{
  display: none;
  position: absolute;
  align-items: center;
  height: 50%;
  width: 50vh;
  background-color: rgba(255,255,255,0.5);
  margin: 10% 40%;
  border-radius: 16px;
  z-index: 1;
}
form{
  text-align: center;
  margin-top: 20px;

}

form label{
  color: #ff5b00;
}
form input{
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(80,80,80,0.1);
  border: black;
}
#submit{
  background-color: #ff5b00;
}
header{
  display: none;
  position: absolute;
  align-items: center;
  height: 50%;
  width: 50vh;
  background-color: rgba(255,255,255,0.5);
  margin: 10% 40%;
  border-radius: 16px;
  z-index: 1;
}
header form{
  text-align: center;
  margin-top: 20px;
}
header form label{
  color: black;
  margin-bottom: 10px;
}
header form input{
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.5);
  border: black;
  color: white;
  padding: 5px;
}
#login{
  color:white;
  font-weight: bolder;
  font-variant-caps: all-petite-caps;
  width: 100px;
  background-color: black;
}

#login:hover{
  transform: scale(1.2);
}
#login:active{
  transform: scale(1);
}
/* timeline */
.timeline{
  /* height: 100%; */
  background-color: rgba(80,80,80,.35);
}
/* timeline end */
/* All events */
.container, #add-event {
  float: left;
}
.container{
  margin-top: 80px;
  position: absolute;
  left: 26%;
  height: 70%;
  overflow-y: scroll;
}
.container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.container::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ff5b00;
}
#eventHolder{
  display: flex;
  text-align: center;
  background-color: rgba(80,80,80,0.5);
  margin: 0px 0px 10px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
}
.event-date-holder{
  padding: 20px 10px;
  border-radius: 10%;
  color: #ff5b00;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(80,80,80,0.6);
}
.event-details-holder{
  display: flex;
}
.event-details-holder h1{
  font-size: 15px;
  width: 300px;
  padding: 15px 5px;
  border-radius: 5%;
}
#eventDescription{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
}
#editTools{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}
/* All events */
@media (min-width: 500px) {
  .sphere path {
    stroke-width: 1px;
  }
  .SignIn{
    cursor: pointer;
  }
}
